# Readme
Tут два файла истории EURUSD 1 за 2016 год часовой тик. 2016й полньій год можна использовать для обучения, а часть 2017-го для валидации, я включил 2.5 месяца в 2017й.

Данньіе в файлах идут как Local time, Open,High, Low,Close, Volume

Не знаю насколько тьі знаком с такими данньіми. Коротко, то Open - цена в начале тика данньіх, Close - в конце периода, ну и High Low внутренние колебания наибольшая и наименьшая цена
В принципе все 4, и также Volume, обьем продаж за етот период, важньі. Но для простотьі можем пока что брать только Open цену для обучального набора примеров

Тут Gnuplot скрипт для примера чтобьі рисовать Candlesticks и етих данньіх

Можна например разбить данньіе на бегущее окно 24 Open price для входа в сеть, и скажем 5 последующих для вьіхода сети, т.е. предсказание на 5 тиков в будущее
Таким образом learning set будет иметь 8754 примера

In [1]:
import numpy as np
import pandas as pd

In [15]:
# Read the input files
EURUSD_1H_2016_df = pd.read_table('EURUSD_1H_2016.txt',sep=',')

In [16]:
EURUSD_1H_2016_df

                   Local time     Open     High      Low    Close  Volume
0     01.01.2016 00:00:00.000  1.08564  1.08564  1.08564  1.08564     0.0
1     01.01.2016 01:00:00.000  1.08564  1.08564  1.08564  1.08564     0.0
2     01.01.2016 02:00:00.000  1.08564  1.08564  1.08564  1.08564     0.0
3     01.01.2016 03:00:00.000  1.08564  1.08564  1.08564  1.08564     0.0
4     01.01.2016 04:00:00.000  1.08564  1.08564  1.08564  1.08564     0.0
...                       ...      ...      ...      ...      ...     ...
8778  31.12.2016 19:00:00.000  1.05150  1.05150  1.05150  1.05150     0.0
8779  31.12.2016 20:00:00.000  1.05150  1.05150  1.05150  1.05150     0.0
8780  31.12.2016 21:00:00.000  1.05150  1.05150  1.05150  1.05150     0.0
8781  31.12.2016 22:00:00.000  1.05150  1.05150  1.05150  1.05150     0.0
8782  31.12.2016 23:00:00.000  1.05150  1.05150  1.05150  1.05150     0.0

[8783 rows x 6 columns]